@CHARSET "ISO-8859-1";
/*
	Alma Knudson
	Bill Ford
	u0850249
	PS10
	*/ 
		
h2 {text-align:left; color:blue}

body
{
background-color:#b0c4de;
}

.intro {width:20%}
.Welcome {width:50%}
.alnright { text-align: right; }
