@CHARSET "ISO-8859-1";
<!---
	Bill Ford
	u0850249
	PS1 
	1/23/2013
---> 
		
h2 {text-align:left; color:blue}

body
{
background-color:#b0c4de;
}

.intro {width:20%}
.Welcome {width:50%}


